@import url(styles.css);
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&display=swap');

.anuncio {
  /* width: 100vw; */
  height: 100vh;
  background-image: url(/img/fondo_menu.png);
  background-size: cover;
  background-position: var(--alineacion);

}

.info {
  position: relative;
  color: var(--color-texto-titulo);
  top: 300px;
  max-width: 350px;
  left: 50px;
}

.titulo__principal {
  font-size: 39px;
}

.titulo__secundario {
  font-family: "Arima", system-ui;
}

.titulos {
  margin-bottom: 15px;
  font-family: "Open";
}

.linea__anuncio {
  background-color: var(--color-texto-titulo);
  height: 3px;
  border: none;
  margin-bottom: 20px;
  width: 200px;
}

.texto__anuncio-descripcion {
  color: var(--color-texto-info);
}