.blog{
  margin-bottom: 80px;
  width: 100%;
}

.contenedor__blog {
  display: flex;
  justify-content: var(--alineacion);
}

.cuadro {
  margin: 0 20px;
  /* min-width: 30vw; */
  width: 30vw;
}

.texto__blog{
  width: 50vw;
  background-color: rgb(231, 231, 231);
  display: flex;
  flex-direction: var(--direccion-columnas);
  padding: 20px;
  gap: 30px;
  min-width: 30vw;
}
.titulo__blog{
  font-size: 2.0vw;
}

.cuadro__imagen{
  width: 30vw;
}

.titulo__blog-parrafo{
  font-size: 1.2vw;
}