.blog{
  margin-bottom: 80px;
}

.blog__inicial {
  display: flex;
  flex-direction: column;
  height: 300px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.blog__titulo {
  background-image: url(../img//titulo_blog.png);
  background-size: cover;
  width: 165px;
  height: 50px;
  margin-bottom: 30px;
}

.contenedor__blog {
  display: flex;
  justify-content: center;
}

.cuadro {
  margin: 0 20px;
}

.texto__blog{
  width: 400px;
  background-color: rgb(231, 231, 231);
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 30px;
  min-width: 400px;
}
.titulo__blog{
  font-size: 1.5rem;
}