@import url(variables.css);

.final__pagina{
    background-color: var(--color-texto-body);
    color: var(--color-body-fondo);
    display: flex;
    justify-content: var(--alineacion);
    text-align: var(--alineacion);
    height: 250px;
    padding: 20px;
}

.footer__info{
    display: flex;
    flex-direction: var(--direccion-columnas);
    gap: 20px;
}

.lista__redes{
    display: flex;
    gap: 10px;
    list-style: none;
    margin-bottom: 10px;
    padding-left: 30px;
}

.link__page{
    color: var(--color-body-fondo);
    text-decoration: none;
}

