@import url(variables.css);

.container{
  max-width: 1200px;
  width: 100%;
  margin: auto;
  padding: 0 10px;
}

.header{
  width: 100%  ;
  background-color: var(--color-header-fondo);
  padding: 0 100px;
  position: sticky;
  display: flex;
}

/* buscador */

.search{
  background-color: var(--color-header-fondo);
  border-radius: 0;
  display: flex;
  align-items: center;
  padding: 0 15px;
}

.search__icon{
  font-size: 1.2rem;
  color: var(--color-body-fondo);
}

.contenedor__buscador{
  margin-right: 700px;
}

.search__input{
  width: 100px;
  background-color: transparent;
  padding: 8;
  outline: 8px;
  border: none;
  color: var(--color-body-fondo);
  padding-top: 20px;
  
}

.search__hr{
  color: var(--color-body-fondo);
  max-width: 200px;
}

/* logo */

.logo{
  margin-right: 600px;
}

.logo__img{
  width: 80px;
  cursor: pointer;

}

/* register/login*/

.header__derecho{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.text__register{
  color: white;
  font-size: 1rem;
  font-weight: normal;
  cursor: pointer;
}


.boton__icon{
  color: white;
  cursor: pointer;
}

.me_gusta{
  position: relative;
}

.me_gusta::after{
  content: " ";
  width: 12px;
  height: 12px;
  position: absolute;
  right: 3;
  top: 0;
  background-color:green;
  border-radius: 50%;
}

.compra{
  position: relative;
}

.compra::after{
  content: " ";
  width: 12px;
  height: 12px;
  position: absolute;
  right: 3;
  top: 0;
  background-color:green;
  border-radius: 50%;
}

