@import url(variables.css);

.encabezado {
  background-color: var(--color-header-fondo);
  position: sticky;
  width: 100%;
}

.header__container{
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin: 0 auto;
}

/* buscador */

.search {
  background-color: var(--color-header-fondo);
  border-radius: 0;
  display: flex;
  align-items: var(--alineacion);
  padding: 0 15px;
}

.search__icon {
  font-size: 1.2rem;
  color: var(--color-body-fondo);
}

.search__input {
  width: 100px;
  background-color: transparent;
  padding: 8;
  outline: 8px;
  border: none;
  color: var(--color-body-fondo);
  padding-top: 20px;

}

.search__hr {
  color: var(--color-body-fondo);
  max-width: 200px;
}

/* logo */

.logo__img {
  width: 80px;
  cursor: pointer;

}

/* register/login*/

.header__derecho {
  display: flex;
  flex-direction: var(--direccion-filas);
  align-items: var(--alineacion);
  justify-content: var(--alineacion);
  gap: 20px;
}

.text__register {
  color: var(--color-body-fondo);
  font-size: 1rem;
  font-weight: normal;
  cursor: pointer;
}


.boton__icon {
  color: var(--color-body-fondo);
  cursor: pointer;
}

.me_gusta {
  position: relative;
}

.me_gusta::after {
  content: " ";
  width: 12px;
  height: 12px;
  position: absolute;
  right: 3;
  top: 0;
  background-color: var(--color-header-fondo);
  border-radius: 50%;
}

.compra {
  position: relative;
}

.compra::after {
  content: " ";
  width: 12px;
  height: 12px;
  position: absolute;
  right: 3;
  top: 0;
  background-color: var(--color-header-fondo);
  border-radius: 50%;
}