@media (max-width: 1000px) {

  .about__grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 500px);
    grid-template-areas:
      'descripcion__first'
      'about__video_first'
      'descripcion'
      'about__video';
    padding: 20px;
  }

  .pricing__grid{
    grid-template-columns: 400px;
    grid-template-rows: repeat(3, 500px);
    grid-template-areas:
      'basic'
      'standart'
      'premium';
    padding: 40px;
  }

  /* Se modifican las grid para que queden acorde a el tamaño de un movil */

  .contenedor__blog{
    flex-direction: var(--direccion-columnas);
    margin-left: 25%;
  }

  .cuadro{
    margin-bottom: 20px; 
  }

  .cuadro__imagen{
    width: 200px;
  }

  .item__service{
    display: block;
  }

  .titulo__about-enunciado{
    font-size: 1.5rem;
  }

  .titulo__about-descripcion{
    font-size: 0.5rem;
  }

  .about__video_first{
    width: 100%;
  }

  .about__video{
    width: 100%;
  }

  .texto__blog{
    height: 300px;
  }

  .contenedor__titulo{
    height: 150px;
  }

  .titulo__grande{
    font-size: 1rem;
  }
  
  .titulo__descripciones{
    font-size: 0.7rem;
  }

  .titulo__blog-parrafo{
    font-size: 0.6rem;
  }

  /* Se le dan tamaños a las algunos elementos para que encajen responsivamente */
}