@media (max-width: 872px) {

  .about__grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 500px);
    grid-template-areas:
      'descripcion__first'
      'about__video_first'
      'descripcion'
      'about__video';
    padding: 20px;
  }

  .pricing__grid{
    grid-template-columns: 600px;
    grid-template-rows: repeat(3, 500px);
    grid-template-areas:
      'basic'
      'standart'
      'premium';
    padding: 40px;
  }
  
}