@import url(styles.css);
@import url(variables.css);

.menu{
  width: 100%;
  height: 75px;
  display: flex;
  align-items: var(--alineacion);
  /* padding-top: 30px; */
}

.menu-items{
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 40px;
  justify-content: var(--alineacion);
}

.menu-item{
  color: var(--color-texto-body);
  text-decoration: none;
  font-size: 2.1vw;
  font-weight:500;
}