.pricing__inicial {
  display: flex;
  flex-direction: column;
  height: 300px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.pricing__titulo {
  background-image: url(../img/titulo_pricing.png);
  background-size: cover;
  width: 290px;
  height: 55px;
  margin-bottom: 30px;
}

.pricing__descripcion {
  width: 400px;
}

.pricing__grid {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: 500px;
  grid-template-areas:
    'basic standart premium';
  justify-content: center;
  gap: 28px;
  margin-bottom: 80px;


}

.plan {
  background-color: aliceblue;
}

.basic {
  grid-area: basic;
}

.standart {
  grid-area: standart;
}

.premium {
  grid-area: premium;
}

.parte__verde {
  display: flex;
  background-color: green;
  color: white;
  height: 40%;
  /* text-align: center; */
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.parte__blanca {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 60%;
  gap: 30px;
}

.lista__comida {
  list-style: none;
}

.comida {
  margin-bottom: 10px;
}