.contenedor__service{
    padding: 0 40px;
    margin-bottom: 80px;
    width: 100%;
}

.services{
    display: flex;
    flex-direction: var(--direccion-columnas);
    height: 300px;
    text-align: var(--alineacion);
    justify-content: var(--alineacion);
    align-items: var(--alineacion);
}
.titulo__services{
    background-image: url(/img/Title2.png);
    background-size: cover;
    width: 280px;
    height: 55px;
    font-size: 2.5rem;
}

.text-titulo__services{
    margin-top: 30px;
    width: 430px;
}

.item__service{
    width: 100%;
    display: flex;
    justify-content: var(--alineacion);
    margin-bottom: 30px;
}

.titulo__service{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.service__left {
    margin-right: 50px;
}


.imagen__service{
    width: 400px;
    height: 200px;
}

.parrafo__service{
    /* width: 900px; */
    padding-right: 70px;
    margin-bottom: 40px;
}