
.services{
  /* background-image: url(/img/Title2.png); */
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.service{
  text-align: center;
  align-items: center;
  width: 390px;
  height: 74px;
  display: flex;
  background-image: url(/img/Title2.png);
  justify-content: center;
  font-size: 4rem;
  background-size: cover;
}

.text-service{
  text-align: center;
  padding-top: 20px;
}
.menu__service{
  flex-direction: row;
  justify-content: space-around;
}

.platillo{
  
}