
.services{
  /* background-image: url(/img/Title2.png); */
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.service{
  text-align: center;
  align-items: center;
  width: 390px;
  height: 74px;
  display: flex;
  background-image: url(/img/Title2.png);
  justify-content: center;
  font-size: 4rem;
  background-size: cover;
}

.menu-service{
  display: flex;
  flex-direction: column;
}
.platillos__menu-service{
  width: 1000px;
  display: flex;
  flex-direction: row;
  gap: 600px;
  justify-content:space-around ;
}

.lorem-text__menu-service{
  width: 1000px;
  height: 100px;
  display: flex;
  margin-left: 15px;
}
