@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url(header.css);
@import url(variables.css);
@import url(anuncio.css);
@import url(menu.css);
@import url(service.css);
@import url(videos.css);
@import url(descuentos.css);
@import url(pricing.css);
@import url(final.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.contenido {
  background-color: var(--color-body-fondo);
  color: var(--color-texto-body);
  display: flex;
  flex-direction: column;
}

.botones__global {
  display: flex;
  margin-top: 40px;
  align-items: center;
  gap: 20px;
}

.boton__largo {
  width: 150px;
}

.boton__des {
  position: relative;
  top: 170px;
  left: 50px;
  width: 180px;
}

.boton__descuen{
  position: relative;
  top: 170px;
  left: 1630px;
  width: 180px;
}

.boton__corto {
  width: 50px;
  font-size: 15px;
}

.boton__largo,
.boton__corto {
  height: 45px;
  border: none;
  background-color: var(--color-fondo-boton);
  color: white;
  border-radius: 10px 0;
  cursor: pointer;
}