.contenedor__titulo {
    display: flex;
    flex-direction: var(--direccion-columnas);
    height: 300px;
    text-align: var(--alineacion);
    justify-content: var(--alineacion);
    align-items: var(--alineacion);
    width: 100%;
}

.titulo__general{
    background-size: cover;
    width: 21.2vw;
}

/* Se asignan los mismo estilos para todos los titulos */

.about__titulo {
    background-image: url(/img/fondoAbout.png);
}

.services__titulo{
    background-image: url(/img/Title2.png);
    width: 17.5vw;
}

.pricing__titulo {
    background-image: url(../img/titulo_pricing.png);
    width: 16.7vw;
}
  
.blog__titulo {
    background-image: url(../img//titulo_blog.png);
    width: 10.4vw;
}

.titulo__grande{
    font-size: 2.2vw;
}

.titulo__descripciones{
    font-size: 1vw;
}

/* Se le da un ancho por separado a cada fondo ya que tienen diferentes tamaños */