.contenedor__titulo {
  display: flex;
  flex-direction: column;
  height: 300px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.about__titulo {
  background-image: url(/img/fondoAbout.png);
  background-size: cover;
  width: 280px;
  /* height: 50px; */
}

.about__descripcion {
  margin-top: 30px;
  width: 430px;
}

.about__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    'descripcion__first about__video_first'
    'about__video descripcion';
  padding: 80px;
  gap: 20px;
}

.descripcion__first {
  grid-area: descripcion__first;
  /* padding: 50px; */
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.texto__about {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about__video_first {
  grid-area: about__video_first;
  /* width: 150px; */
}

.about__video {
  grid-area: about__video;
}

.descripcion {
  grid-area: descripcion;
}