

.about__grid {
  display: grid;
  grid-template-columns: 500px 500px;
  grid-template-rows: 500px 500px;
  grid-template-areas:
    'descripcion__first about__video_first'
    'about__video descripcion';

  gap: 80px;
  justify-content: var(--alineacion);
  margin-bottom: 125px;
}

.descripcion__first {
  grid-area: descripcion__first;
  /* padding: 50px; */
  display: flex;
  flex-direction: var(--direccion-columnas);
  gap: 20px;
}

.texto__about {
  display: flex;
  flex-direction: var(--direccion-columnas);
  gap: 20px;
}

.about__video_first {
  grid-area: about__video_first;
  background-image: linear-gradient(#00ff402f 50%, #00ff402f 50%), url(../img/img\ 1.png);
  display: flex;
  justify-content: var(--alineacion);
  align-items: center;
}

.about__video {
  grid-area: about__video;
  background-image: linear-gradient(#00ff402f 50%, #00ff402f 50%), url(../img/img\ 1.png);
  display: flex;
  justify-content: var(--alineacion);
  align-items:var(--alineacion);
}

.descripcion {
  grid-area: descripcion;
}

.imagen__youtube {
  width: 60px;
  height: 40px;
}